.banner-section {
    height: calc(100vh - 100px);    
    .left-banner-section {
        row-gap: 30px;
        padding-right: 80px;
    }
    .title {
        h1 {
            color: $white;
        }
    }
    .description {
        color: $text;
    }
    .contact-button {
        a {
            background-color: $secondary_color;
            color: $primary_color;

            &:hover {
                background-color: rgba(255, 255, 255, 0.14);
                color: $white;
            }
        }
    }
    .right-banner-section {
        img {
            width: 100%;
        }
    }
}

.about-us-section {
    .image-right {
        img {
            width: 100%;
            height: auto;
        }
    }
    .left-banner-section {
        row-gap: 30px;
    }
}

.contact-banner {
    padding: 50px;
    border-radius: 10px;
    background-color: $third_color;
}